:root {
    --c-theme: #FFBA00;

    --c-green: #279a04;
    --c-green20: #3fe80c33;

    --c-yellow: #859000;
    --c-yellow20: #eafc006b;

    --c-halfOrange: #c38e00;
    --c-halfOrange20: #ffba0073;

    --c-orange: #da6000;
    --c-orange20: #ff700075;

    --c-red: #d50202;
    --c-red20: #ff00005c;

    --c-soft-grey: #eaeaea;
    --c-soft-grey20: #ebebeb80;

    --c-white20: #ffffff80;
    
    --c-text-color: #5B5B5B;
  }