:root {
    --c-theme: #FFBA00;
    --c-red: #FF4936;
    --c-red20: #ff493633;
    --c-green: #279a04;
    --c-green20: #3fe80c33;
    --c-turquoise: #00D7FF;
    --c-border: #A7A7A7;
    --c-border-20: #a7a7a733;
    --c-soft-grey: #DCDCDC;
    --c-background-soft: #F5F5F5;
    --c-background: #FFFFFF;
    
    --c-text-color: #5B5B5B;

    --v-duration: 200ms
  }